//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    fastq = "$baseDir/test_data/test.fastq"
    out_dir = "output"
    samplename = "sample"
    reference_genome = "$baseDir/data/human.hg19.fasta" 
    minimap2_addition_para = "-L --MD -Y -a -x map-ont --secondary=no"
    target_STR_region = "$baseDir/data/target_STR.txt"
    report_name = "report"
    wfversion = "v0.0.1"
    disable_ping = false

    process_label = "wfSTR"


    wf {
        example_cmd = [
            "--fastq reads.fastq.gz"
        ]
    }
}

manifest {
    name            = 'fancylf/wf-STR'
    author          = 'liangf@grandomcis.com'
    homePage        = 'https://github.com/fancylf/wf-STR'
    description     = 'STR workflow'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    //version       = 'v0.0.1'  
}

executor {
    $local {
        cpus = 64
        memory = "128 GB"
    }
}


// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.

process {
    withLabel:alignment {
        container = "minimap2:latest"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

process {
    withLabel:STRdetection {
        container = "grandomics/grandstr:v1.2.9"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    
    // profile using conda environments
    conda {
        docker.enabled = false
        process {
            withLabel:wfSTR {
                conda = "${projectDir}/environment.yaml"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        conda {
             cacheDir = ""
             useMamba = true
        }
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:wfSTR {
                container = "${params.aws_image_prefix}-wf-template:${params.wfversion}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
}
dag {
  enabled = true
  file = "${params.out_dir}/execution/pipeline.svg"
}
